{% extends "base.html" %}

{% block content %}
<div class="home">
    <h2>Featured</h2>
    <div class="featured">
        <div onclick="location.href='/player'">Harmony</div>
        <div onclick="location.href='/player'">Soothing</div>
    </div>
    <h2>Recommended for you</h2>
    <div class="recommendations">
        <div onclick="location.href='/player'">Melodic Vibes by Soundwave</div>
        <div onclick="location.href='/player'">The melody within by Harmony Beats</div>
        <div onclick="location.href='/player'">Flowing Beats by Rhythmic Sounds</div>
    </div>
</div>
{% endblock %}
